<h1>Hi there!</h1>

<ul class="list-group list-group-flush">
  <% @cocktails.each do |cocktail| %>
        <li class="list-group-item"><%= link_to cocktail.name, cocktail %></li>
        <% end %>
        <%= link_to 'Create new', new_cocktail_path, class:'btn btn-info'%>
</ul>

