
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h3>Create a new cocktail </h3>

      <ul class="list-group">
        <%= simple_form_for @cocktail do |form| %></li>
        <li class="list-group-item"><%= form.input :name %>
        <%= form.submit class: 'btn btn-info' %>
        <% end %>

      </ul>
      </div>
      <%= link_to "Back to all cocktails", cocktails_path %>
  </div>
</div>
